@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: "SFMono-Regular", Consolas, "Liberation Mono", monospace;
}

/* Thêm dòng này để kích hoạt Dark Mode theo Class cho Tailwind v4 */
@theme {
  --animate-accordion-down: slideDown 0.2s ease-out;
}
@variant dark (&:where(.dark, .dark *));

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}
